{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}
        {{ if result == 1 }}

        Quiz successful

        {{ else }}

        Quiz failed

        {{ endif }}

{% endblock %}

{% block content %}
<div id="main">
        <img src="{% static 'Quiz.PNG' %}"; align="center"/>

        {{ if result == 1 }}

        <br>
        Congratulations, you successfully passed the quiz.
        <br><br>

        Before the game starts, we would like to ask you a question for which there is no right or wrong answer.
        It only depends on your own opinion.
        <br><br>

        <b>Question 1:</b>
        <br>
        In your own opinion - what should your team do?
        {% formfield player.prior_pref %}

        <br><br>

        << REMEMBER BOX >>

        {{ else }}

        <br>

        Your third attempt was also incorrect.
        <br><br>
        Please press "Next" to continue.

        {{ endif }}

</div>
    {% next_button %}


<style>
    .otree-timer {
        display: none;
    }
</style>

<script>
    $(function () {
        $('.otree-timer__time-left').on('update.countdown', function (event) {
            if (event.offset.totalSeconds === 20) {
                $('.otree-timer').show();
            }
        });
    });
</script>
{% endblock %}
