{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}
    Rules of the game
{% endblock %}

{% block content %}
<div id="main">
    <p>
        {% if treatment == 'obs' %}
        This is the place for the "observe" treatment rules.

        {% elif treatment == 'veto' %}
        This is the place for the "veto" treatment rules.

        {% else %}
        This is the place for the "simultaneous" treatment rules.
        {% endif %}
    </p>

</div>

{% next_button %}
<style>
    .otree-timer {
        display: none;
    }
</style>

<script>
    $(function () {
        $('.otree-timer__time-left').on('update.countdown', function (event) {
            if (event.offset.totalSeconds === 20) {
                $('.otree-timer').show();
            }
        });
    });
</script>

{% endblock %}
